{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}Cerrar Sesión{% endblock %}

{% block content %}
<div class="form-container" style="text-align: center;">
    <h2>Cerrar Sesión</h2>
    
    <p>{% trans "Are you sure you want to sign out?" %}</p>

    {# Contenedor de acciones para los botones #}
    <div class="logout-actions">
        
        {# Botón de Cancelar (como un enlace) #}
        <a href="{% url 'blog_circadiano:lista_articulos' %}" class="submit-button cancel-button">
           Cancelar
        </a>
        
        {# Botón de Sign Out (dentro de un formulario) #}
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button class="submit-button" type="submit">{% trans 'Sign Out' %}</button>
        </form>

    </div>
</div>
{% endblock %}