{% extends 'base.html' %}
{% load static %}

{% block title %}Iniciar Sesión - Blog Circadiano{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>Iniciar Sesión</h2>
        {% if form.errors %}
            <p class="errorlist">Tu nombre de usuario y contraseña no coinciden. Por favor, inténtalo de nuevo.</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
                {{ form.username }}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <p class="errorlist">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Contraseña:</label>
                {{ form.password }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p class="errorlist">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <button type="submit" class="submit-button">Iniciar Sesión</button> {# Añadimos clase para el botón #}
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <p style="margin-top: 20px;">¿No tienes una cuenta? <a href="{% url 'usuarios:register' %}">Regístrate aquí</a></p>
    </div>
{% endblock content %}